<div class="container">
    <form>
        <div class="form-group">
            <label for="id">Id</label>
            <input type="text" class="form-control" [(ngModel)] = "customer.id" name="id" disabled>
        </div>

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" [(ngModel)] = "customer.firstName" name="firstName" disabled>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" [(ngModel)] = "customer.lastName" name="lastName" disabled>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" [(ngModel)] = "customer.email" name="email" disabled>
        </div>

        <div class="form-check disabled down">
            <input class="form-check-input" type="radio" name="gender" [(ngModel)]="customer.gender" #gender="ngModel" value="Male" disabled>
            <label class="form-check-label">
                Male
            </label>
        </div>
        <div class="form-check disabled down">
            <input class="form-check-input" type="radio" name="gender" [(ngModel)]="customer.gender" #gender="ngModel" value="Female" disabled>
            <label class="form-check-label">
                Female
            </label>
        </div>

        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" [(ngModel)] = "customer.address" name="address" disabled>
        </div>

        <div class="form-group">
            <label for="City">City</label>
            <input type="text" class="form-control" [(ngModel)] = "customer.city" name="city" disabled>
        </div>

        <div class="form-group">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" [(ngModel)] = "customer.zip" name="zip" disabled>
        </div>
        
        <button type="button" class="btn btn-primary" (click)= "goBackToList()">Go Back</button>
    </form>
</div>