<div class="container">
    <header>
        <h3>
            {{ customer.firstName }} {{ customer.lastName }}
        </h3>
    </header>
    <br>
    <form formGroup="customerForm" (ngSubmit)="submit(customerForm)" class="editForm" novalidate>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="firstName">
            <div class="alert alert-danger" [hidden]="customerForm.get('firstName').untouched || customerForm.get('firstName').valid">You must enter a first name</div>
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lastName">
            <div class="alert alert-danger" [hidden]="customerForm.controls.lastName.untouched || customerForm.controls.lastName.valid">You must enter a last name</div>
        </div>

        <div class="form-group">
            <label>Gender</label>
            <input type="text" class="form-control" formControlName="gender">
            <div class="alert alert-danger" [hidden]="customerForm.controls.gender.untouched || customerForm.controls.gender.valid">You must enter a gender</div>
        </div>

        <!-- <div class="form-group">
            <label>Gender</label>
            <br>
            <div class="radio">
                <label>
                    <input type="radio" name="gender" formControlName="gender" value="Male">
                    Male
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="gender" formControlName="gender" value="Female">
                    Female
                </label>
            </div>
        </div> -->
  
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email">
            <div class="alert alert-danger" [hidden]="customerForm.controls.email.untouched || customerForm.controls.email.valid">You have to enter a valid email address</div>
        </div>
  
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" formControlName="address">
            <div class="alert alert-danger" [hidden]="customerForm.controls.address.untouched || customerForm.controls.address.valid">You must enter an address</div>
        </div>
  
        <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" formControlName="city">
            <div class="alert alert-danger" [hidden]="customerForm.controls.city.untouched || customerForm.controls.city.valid">You must enter a city</div>
        </div>
  
        <!-- <div class="form-group">
            <label>State</label>
            <select class="form-control" formControlName="stateId">
                <option *ngFor="let state of states" [value]="state.id">{{ state.name }}</option>
            </select>
        </div> -->
        <br>
  
        <button type="button" class="btn btn-primary" (click)="cancel($event)">Cancel</button>
        <button type="submit" class="btn btn-success">{{ operationText }}</button>
    </form>

    <table border="1">
        <tr>
            <th style="padding: 10px;">Form Group</th>
            <th style="padding: 10px;">FormControl (firstName)</th>
        </tr>
        <tr>
            <td style="padding: 10px;">
                touched: {{ customerForm.touched }}
                <br> dirty: {{ customerForm.dirty }}
                <br> valid: {{ customerForm.valid }}
                <br> values: {{ customerForm.value }}
            </td>
            <td style="padding: 10px;">
                touched: {{ customerForm.get('firstName').touched }}
                <br> dirty: {{ customerForm.get('firstName').dirty }}
                <br> valid: {{ customerForm.get('firstName').valid }}
                <br> values: {{ customerForm.get('firstName').value }}
            </td>
        </tr>
    </table>
</div>