<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">Zip</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            <!-- <th scope="col">Orders</th>
            <th scope="col">State</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let customer of customers">
            <td> {{ customer.id }}</td>
            <td> {{ customer.firstName }} </td>
            <td> {{ customer.lastName }} </td>
            <td> {{ customer.email }} </td>
            <td> {{ customer.gender }}</td>
            <td> {{ customer.address }}</td>
            <td> {{ customer.city }}</td>
            <td> {{ customer.zip }}</td>
            <td><button type="button" class="btn btn-warning"(click)="goToViewCustomer(customer.id)">View</button></td>
            <td><button type="button" class="btn btn-primary" (click)="goToEditCustomer(customer.id)" >Edit</button></td>
            <td><button type="button" class="btn btn-danger" (click)="deleteCustomer(customer.id)">Delete</button></td>
            <!-- <td> {{ customer.orders.id }}</td> -->
            <!-- <td> {{ customer.state.abbreviation }}</td> -->
            <!-- <td> {{ customers.state.name }}</td> -->
          </tr>
        </tbody>
      </table>
</div>