<div class="customers view indent">
    <div class="container">
        <header>
            <h3>
                <span class="gylphicon gylphicon-user"></span>
                {{ title }}
            </h3>
        </header>
        <br>
        <div class="row">
            <div class="col-md-8">
                <div class="navbar">
                    <app-filter-textbox (changed)="filterChanged($event)"></app-filter-textbox>
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-success" routerLink="/add">Add New Customer</button>
            </div>
        </div>

        <customer-list [customers]="filteredCustomers"></customer-list>
    </div>
</div> 