<div class="container">
    <form (ngSubmit) = "submitCustomer()">
        <!-- <div class="form-group">
            <label for="id">Id</label>
            <input type="text" class="form-control" required [(ngModel)] = "customer.id" name="id">
        </div> -->

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" required [(ngModel)] = "customer.firstName" name="firstName">
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" required [(ngModel)] = "customer.lastName" name="lastName">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" required [(ngModel)] = "customer.email" name="email">
        </div>

        <div class="form-check down">
            <input class="form-check-input" type="radio" name="gender" [(ngModel)]="customer.gender" #gender="ngModel" value="Male">
            <label class="form-check-label">
                Male
            </label>
        </div>
        <div class="form-check down">
            <input class="form-check-input" type="radio" name="gender" [(ngModel)]="customer.gender" #gender="ngModel" value="Female">
            <label class="form-check-label">
                Female
            </label>
        </div>

        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" required [(ngModel)] = "customer.address" name="address">
        </div>

        <div class="form-group">
            <label for="City">City</label>
            <input type="text" class="form-control" required [(ngModel)] = "customer.city" name="city">
        </div>

        <div class="form-group">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" required [(ngModel)] = "customer.zip" name="zip">
        </div>

        <!-- <div class="form-group">
            <label for="state-abb">State Abbreviation</label>
            <input type="text" class="form-control" [(ngModel)] = "customer.state.abbreviation" name="state-abb">
        </div>

        <div class="form-group">
            <label for="state-name">State Name</label>
            <input type="text" class="form-control" [(ngModel)] = "customer.state.name" name="state-name">
        </div>

        <div class="form-group">
            <label for="customerid">Customer Id</label>
            <input type="text" class="form-control" [(ngModel)] = "customer.state.customerid" name="customerid">
        </div>

        <div class="form-group">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" [(ngModel)] = "customer.orders.productName" name="prodcutName">
        </div>

        <div class="form-group">
            <label for="itemCost">Item Cost</label>
            <input type="text" class="form-control" [(ngModel)] = "customer.orders.itemCost" name="itemCost">
        </div>

        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" [(ngModel)] = "customer.orders.quantity" name="quantity">
        </div> -->
        
        <button type="submit" class="btn btn-success space">Submit</button>
        <button type="submit" class="btn btn-primary" (click)= "backToCustomerList()">Go Back</button>
    </form>
</div>